.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border: solid #21CE99;
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.card:hover,
.card:active {
  border: solid #FC4D2D;
}

.card h2 {
  color: #21CE99;
}